/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  --global-bg-color: #f3efe6;
  --global-code-bg-color: #e9e3d8;
  --global-text-color: #171612;
  --global-text-color-light: #6d6961;
  --global-theme-color: #ed4b2f;
  --global-hover-color: #c93a23;
  --global-hover-text-color: #f3efe6;
  --global-footer-bg-color: #171612;
  --global-footer-text-color: #c9c3b8;
  --global-footer-link-color: #f3efe6;
  --global-distill-app-color: #6d6961;
  --global-divider-color: rgba(23, 22, 18, 0.17);
  --global-card-bg-color: rgba(255, 255, 255, 0.22);
  --global-highlight-color: #ed4b2f;
  --global-back-to-top-bg-color: rgba(
    #{color.channel($black-color, "red", $space: rgb)},
    #{color.channel($black-color, "green", $space: rgb)},
    #{color.channel($black-color, "blue", $space: rgb)},
    0.4
  );
  --global-back-to-top-text-color: #{$white-color};
  --global-newsletter-bg-color: #f3efe6;
  --global-newsletter-text-color: #171612;

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #191815;
  --global-code-bg-color: #272520;
  --global-text-color: #ece7de;
  --global-text-color-light: #aaa49a;
  --global-theme-color: #ff684b;
  --global-hover-color: #ff846c;
  --global-hover-text-color: #191815;
  --global-footer-bg-color: #100f0d;
  --global-footer-text-color: #aaa49a;
  --global-footer-link-color: #ece7de;
  --global-distill-app-color: #aaa49a;
  --global-divider-color: rgba(236, 231, 222, 0.18);
  --global-card-bg-color: rgba(255, 255, 255, 0.035);
  --global-back-to-top-bg-color: rgba(
    #{color.channel($white-color, "red", $space: rgb)},
    #{color.channel($white-color, "green", $space: rgb)},
    #{color.channel($white-color, "blue", $space: rgb)},
    0.5
  );
  --global-back-to-top-text-color: #{$black-color};
  --global-newsletter-bg-color: #272520;
  --global-newsletter-text-color: #ece7de;

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
